<h1>Recent albums!</h1>

<div class="row">
  <div class="row" *ngFor="let album of albums">
        <div class="col-sm-6">
            <div class="card border-secondary" style="width: 18rem;">
                <div class="card-body border-secondary">
                    <h5 class="card-title">{{album.title}}</h5>
                    <p class="card-text">
                        <a [routerLink]= "['/album', album.id, album.title]">
                             <img src="{{album.coverPhotoUrl}}" class="card-img-top" alt="{{album.title}}" >
                        </a>
                    </p>
                 <a href="#" class="btn btn-primary">{{album.title}}</a>
                </div>
            </div>
        </div>
    </div>
</div>
    

    



