<div *ngIf="!(authenticationService.userData | async)">
    <input type="text" [(ngModel)]="email" placeholder="email">
    <input type="password" [(ngModel)]="password" placeholder="password">

    <button (click)="signUp()">Sign Up</button>

    <button (click)="signIn()">Login</button>
</div>

<div *ngIf="authenticationService.userData | async">
    
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">My Photo App</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
          <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item">
               <a class="nav-link" [routerLink]="['/']">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['/profile/me']">Profile</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['/albums']">Albums</a>
            </li>  
            
           </ul>
          
           <span class="form-inline my-2 my-lg-0">
               <span class=mr-sm-2 *ngIf="authenticationService.userData | async"> {{ (authenticationService.userData | async)?.email }}</span>
               <button (click)="signOut()" *ngIf="authenticationService.userData | async" class="btn btn-outline-success my-2 my-sm-0" type="submit">Logout</button>
           </span>

        </div>
    </nav>

    
    <router-outlet></router-outlet>
</div>